
<!--seccion de conocenos-->
<section id="conocenos">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 texto-conocenos">
                    <h1 class="wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">Conócenos</h1>
                    <p class="contenidos-ti wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">Olvídate de la rutina diaria, descubre en CSC Wellness Center un nuevo concepto integral que combina la belleza, bienestar y salud, donde te ofreceremos un espacio exclusivo para conectar tus sentidos, y crear armonía entre mente y cuerpo, permitiendo vivir una experiencia CSC.
                    </p>
                    <p class="contenidos-ti wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
                        Disfruta de los beneficios en CSC Wellness Center de la mano de nuestros terapeutas, especializados en brindarte la atención que necesitas, ayudando de manera natural a mantener la salud de tu cuerpo.
                    </p>
            </div>
            <!--<div class="col-md-6 contenedor-imagenes text-center ">
                <img src="img/inicio/CABINA.jpg" alt="CSC" class="img1 wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
                <img src="img/inicio/fto_lona.jpg" alt="CSC" class="img2 wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
            </div>-->
        </div>
        </div>
</section>
<!-- fin seccion de conocenos -->


<!--seccion circulos-->
<section id="im-redondas">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <ul class="wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
                <li>
                    <div class="view view-first">
                        <div class="img-redo">
                        <img src="./assets/image/inicio/centrodebelleza.jpg" alt="">
                        </div>
                        <div class="mask">
                            <!-- <p>Prueba para realizar informacion en sectores </p> -->
                            <a href="belleza.html"><p class="info">Ver más</p></a>
                        </div>
                    </div>
                    <div>
                        <a href="belleza.html" class="txt-redondas"><p>Centro de Belleza</p></a>
                    </div>
                </li>
                <li>
                    <div class=" view view-first">
                        <div class="img-redo">
                            <img src="./assets/image/inicio/spa.jpg" alt="">
                        </div>
                        <div class="mask">
                            <!-- <p>Prueba para realizar informacion en sectores </p> -->
                            <a href="spa.html"><p class="info">Ver más </p></a>
                        </div>
                    </div>
                    <div>
                        <a class="txt-redondas" href="spa.html"><p>SPA</p></a>
                    </div>
                </li>
                <li>
                    <div class=" view view-first">
                        <div class="img-redo">

                        <img src="./assets/image/inicio/centrodebienestar.jpg" alt="">
                        </div>
                        <div class="mask">
                            <!-- <p>Prueba para realizar informacion en sectores </p> -->
                            <a href="bienestar.html"><p class="info">Ver más </p></a>
                        </div>
                    </div>
                    <div>
                        <a class="txt-redondas" href="bienestar.html"><p>Centro de Bienestar</p></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--seccion circulos-->

<!-- parallax -->
<section id="parallax-inicio" style="background-image:url('./assets/image/parallax/cscwellnesscenter1.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
width: 100%;
height: 300px;
position: relative;">
    <div class="overlay-int"></div>
    <div class="container-fluid">
        <div class="row">
            <p class="wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">Cambios pequeños, grandes resultados</p>
        </div>
    </div>
</section>
<!-- end parallax -->

