<section id="conocenos">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <h1 class="wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">Conócenos</h1>
        <p class="contenidos-ti wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">Olvídate de la rutina diaria, descubre en CSC Wellness Center un nuevo concepto integral que combina la belleza, bienestar y salud, donde te ofreceremos un espacio exclusivo para conectar tus sentidos, y crear armonía entre mente y cuerpo, permitiendo vivir una experiencia CSC.</p>
        <p class="contenidos-ti wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
            Disfruta de los beneficios en CSC Wellness Center de la mano de nuestros terapeutas, especializados en brindarte la atención que necesitas, ayudando de manera natural a mantener la salud de tu cuerpo.
        </p>
        <div class="img-csc">
          <ul>
              <li>
                <a [routerLink]="['/belleza']">
                  <img src="../../../assets/image/inicio/centrodebelleza.jpg" alt="">
                  <p class="title-csc">Centro de Belleza</p>
                </a>
              </li>
              <li>
                  <a [routerLink]="['/spa']">
                    <img src="../../../assets/image/inicio/spa.jpg" alt="">
                    <p class="title-csc">SPA</p>
                  </a>
              </li>
              <li>
                  <a [routerLink]="['/bienestar']">
                    <img src="../../../assets/image/inicio/centrodebienestar.jpg" alt="">
                    <p class="title-csc">Centro de Bienestar</p>
                  </a>
              </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex align-items-center to-animate ">
        <div class="card-columns">
          <div class="card" *ngFor="let item of imgsGallery | slice: 0:9">
              <a  id="single_image" data-fancybox="gallery" [href]="item.img">
                  <img [src]="item.img" class="card-img" alt="">
                  <div class="over"></div>              

              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--seccion de conocenos
<section id="conocenos">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 texto-conocenos">
                    <h1 class="wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">Conócenos</h1>
                    <p class="contenidos-ti wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">Olvídate de la rutina diaria, descubre en CSC Wellness Center un nuevo concepto integral que combina la belleza, bienestar y salud, donde te ofreceremos un espacio exclusivo para conectar tus sentidos, y crear armonía entre mente y cuerpo, permitiendo vivir una experiencia CSC.
                    </p>
                    <p class="contenidos-ti wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
                        Disfruta de los beneficios en CSC Wellness Center de la mano de nuestros terapeutas, especializados en brindarte la atención que necesitas, ayudando de manera natural a mantener la salud de tu cuerpo.
                    </p>
            </div>
            <div class="col-md-6 contenedor-imagenes text-center ">
                <img src="img/inicio/CABINA.jpg" alt="CSC" class="img1 wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
                <img src="img/inicio/fto_lona.jpg" alt="CSC" class="img2 wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
            </div>
        </div>
        </div>
</section>
fin seccion de conocenos -->



<!-- parallax -->
<section id="parallax-inicio" style="background-image:url('./assets/image/parallax/cscwellnesscenter1.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
width: 100%;
height: 300px;
position: relative;">
    <div class="overlay-int"></div>
    <div class="container-fluid">
        <div class="row">
            <p class="wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">Cambios pequeños, grandes resultados</p>
        </div>
    </div>
</section>
<!-- end parallax -->

