
<!--fin Menu-->
<!-- <div id="contenedor_carga">
  <div id="carga">
  </div>
</div> -->
<!--video-->

<!--imagen inicio-->
<section class="container-fluid">
    <div class="row">
        <img src="./assets/image/inicio/politicas/banga.jpg" alt="CSC" class="imagen-galeria">
    </div>
</section>
<!--fin imagen inicio-->

<!-- texto galeria-->
<section class="container-fluid" id="textp-inicio">
   <h1 class="wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Galería</h1>
   <h2 class="wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Encuentra un verdadero santuario para equilibrar el cuerpo, la mente y el espíritu.</h2>
    <div class="row"></div>
</section>
<!-- fin texto galeria-->

<!--imagenes de la galeria-->
<div id="carrusel-galeria" >
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a  id="single_image" data-fancybox="gallery" href="./assets/image/galeria/1.jpg">
            <img src="./assets/image/galeria/1.jpg">
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a  id="single_image" data-fancybox="gallery" href="./assets/image/galeria/2.jpg">
            <img src="./assets/image/galeria/2.jpg">
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a  id="single_image" data-fancybox="gallery" href="./assets/image/galeria/3.jpg">
            <img src="./assets/image/galeria/3.jpg">
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a id="single_image" data-fancybox="gallery" href="./assets/image/galeria/6.jpg">
            <img src="./assets/image/galeria/6.jpg">
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a id="single_image" data-fancybox="gallery" href="./assets/image/galeria/7.jpg">
            <img src="./assets/image/galeria/7.jpg">
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a id="single_image" data-fancybox="gallery" href="./assets/image/galeria/8.jpg" >
            <img src="./assets/image/galeria/8.jpg" >
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a  id="single_image" data-fancybox="gallery" href="./assets/image/galeria/13.jpg">
            <img src="./assets/image/galeria/13.jpg" >
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a id="single_image" data-fancybox="gallery" href="./assets/image/galeria/14.jpg">
            <img src="./assets/image/galeria/14.jpg">
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a id="single_image" data-fancybox="gallery" href="./assets/image/galeria/16.jpg">
            <img src="./assets/image/galeria/16.jpg">
        </a>
    </div>
    </ng-template>
    <ng-template carouselSlide  [dataMerge]="3">
      <div class="item">
        <a  id="single_image" data-fancybox="gallery" href="./assets/image/galeria/19.jpg">
            <img src="./assets/image/galeria/19.jpg" >
        </a>
    </div>
    </ng-template>
    </owl-carousel-o>
</div>
<!--fin de imagenes de la galeria-->
