

<section id="header-img">
    <div class="bg-header" style="background: url('../../../assets/image/inicio/politicas/bapoli.jpg'); width: 100%; height: 300px;
     background-repeat: no-repeat; background-size:cover; margin-top: 50px; display: flex; justify-content: center;">
        <h1 class="d-flex align-items-center">rituales especiales</h1>
    </div>
</section>

<section id="cards_rituales">
<div  class="container">
    <div class="row">
      <div class="col-6">
          <div class="card mb-3" >
              <div class="row no-gutters">
                <div class="col-md-5">
                    <div class="card-body card-1">
                        <h5 class="card-title">NOCHE HOLÍSTICA <br><small class="">(POR PAREJA)</small></h5>
                        <p class="card-text">Ven con esa persona especial y dejen que CSC los consienta en un ambiente romántico a luz de las velas</p>
                    </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body card-1-text">
                    <p class="card-title">Servicio por pareja que incluye:</p>
                    <ul>
                      <li>Sauna c/te frutal</li>
                      <li>Masaje relajante</li>
                      <li>Exfoliación corporal</li>
                      <li>Hidroterapia en jacuzzi</li>
                    </ul>
                    <p class="card-text"><small class="">En el jacuzzi disfruta de un aperitivo acompañado de una copa de vino</small></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-6">
          <div class="card mb-3" >
              <div class="row no-gutters">
                <div class="col-md-5">
                    <div class="card-body  card-2">
                        <h5 class="card-title">DAY SPA  <br><small class=""> (INDIVIDUAL)</small></h5>
                        <p class="card-text">Servicio individual que incluye: </p>
                    </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body  card-2-text">
                    <p class="card-title">Servicio individual que incluye:</p>
                    <ul>
                      <li>Sauna</li>
                      <li>Masaje de Piedras Calientes</li>
                      <li>Ozono</li>
                      <li>Exfoliación C/ Envoltura</li>
                      <li>Facial Personalizado   </li>
                      <li>Jacuzzi</li>
                    </ul>
                    <p class="card-text"><small class="">En el jacuzzi disfruta de una copa de vino</small></p>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" >
                <div class="row no-gutters">
                  <div class="col-md-5">
                      <div class="card-body card-3 ">
                          <h5 class="card-title">RITUAL PRE-NUPCIAL  <br><small class="">(INDIVIDUAL) </small></h5>
                          <p class="card-text"> El día a llegado y CSC sabe lo especial que es para ti por lo que te ayuda a verte y sentirte mejor aún.</p>
                      </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body  card-3-text">
                      <p class="card-title">Servicio individual que incluye:</p>
                      <ul>
                        <li>Sauna con Té relajante </li>
                        <li>Masaje Personalizado </li>
                        <li>Envoltura en Spa Jet </li>
                        <li>Facial Personalizado </li>
                        <li>Jacuzzi con hidroterapia </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" >
                <div class="row no-gutters">
                  <div class="col-md-5">
                      <div class="card-body card-4">
                          <h5 class="card-title">RITUAL DE LA CASA<br><small class=""> (INDIVIDUAL)</small></h5>
                          <p class="card-text">Déjate consentir y apapachar como solo CSC lo sabe hacer</p>
                      </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body card-4-text">
                      <p class="card-title">Servicio individual que incluye:</p>
                      <ul>
                        <li>Sauna C/ Té de la Casa</li>
                        <li>Masaje CSC</li>
                        <li>Facial CSC</li>
                        <li>Exfoliación C/ Envoltura</li>
                        <li>Reflexología Podal</li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-6">
          <div class="card mb-3" >
              <div class="row no-gutters">
                <div class="col-md-5">
                    <div class="card-body card-5">
                        <h5 class="card-title">RITUAL LUNA DE MIEL<br><small class="">(POR PAREJA)</small></h5>
                        <p class="card-text">Disfruta con tu pareja de una velada romántica que solo CSC te puede brindar</p>
                    </div>
                </div>
                <div class="col-md-7">
                  <div class="card-body card-5-text">
                    <p class="card-title">Servicio por pareja que incluye:</p>
                    <ul>
                      <li>Sauna C/ Té de Frutos</li>
                      <li>Masaje con Piedras Calientes</li>
                      <li>Brushing</li>
                      <li>Facial Personalizado</li>
                      <li>Hidroterapia en jacuzzi</li>
                    </ul>
                    <p class="card-text"><small class="">En el jacuzzi disfruta de un aperitivo acompañado de una copa de vino</small></p>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-6">

      </div>
    </div>
</div>
</section>
