


@import'./variables';
@import'./menu';
@import'./conocenos';
@import'./tips';
@import'./footer';
@import './theme';
@import './spa';
@import'./belleza';
@import'./bienestar';
@import'./galeria';
@import'./servicios';
@import'./elite';
@import'./contacto';

@import'./animate';



.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
