<!--footer-->
<footer>
    <div class="container foter">
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li><a href="aviso.html">Aviso de Privacidad</a></li>
                        <li><a data-toggle="modal" data-target=".bd-example-modal-lg" href="#">Convenios</a></li>
                        <li><a href="preguntas.html">Preguntas Frecuentes</a></li>
                    </ul>
                    <ul>
                        <li><a href="politicas.html">Política de Cancelación</a></li>
                        <li><a href="salud.html">Política de Salud</a></li>
                        <li><a data-toggle="modal" data-target=".bd-example-modal-lg1" href="#ban2">BLOG</a></li>
                    </ul>
                </div>
                <div class="col-md-2 centered">
                        <a  href="index.html"> <img src="/assets/image/iconosRedes/de.png" width="120px" height="" alt="" style="margin: 20px 0 0 0;"></a>
                </div>
                <div class="col-md-5 centered" id="foter-redes">
                    <div class="content-icons">
                        <li>Redes Sociales</li>
                        <a href="https://www.facebook.com/centrocsc/" target="new"><img src="./assets/image/iconosRedes/fb.png"></a>
                        <a href="https://twitter.com/CSCSpa" target="new"><img src="./assets/image/iconosRedes/tw.png"></a>
                        <a href="https://www.youtube.com/channel/UCcvaWIo3pFEBRd1dvvC0guA" target="new"><img src="./assets/image/iconosRedes/yt.png"></a>
                        <a href="https://www.instagram.com/cscwellnesscenter/?hl=es-la" target="new"><img src="./assets/image/iconosRedes/is.png"></a>
                        <a href="https://www.pinterest.com.mx/cscwellnesscenter/" target="new"><img src="./assets/image/iconosRedes/pn.png"></a>
                        <li>2019   l  CSC Wellness Center ®</li>
                    </div>
                </div>
            </div>
    </div>
</footer>
<!--fin footer-->
