<section id="social-menu">
<div class="row">
<div class="social-item col-md-6" style="background-color: #E0A81C; padding: 3px 0 3px 0; padding-left: 150px; z-index: 3030;">
    <a href="https://www.facebook.com/centrocsc/" target="new"><img src="./assets/image/iconosRedes/fb.png"></a>
    <a href="https://twitter.com/CSCSpa" target="new"><img src="./assets/image/iconosRedes/tw.png"></a>
    <a href="https://www.youtube.com/channel/UCcvaWIo3pFEBRd1dvvC0guA" target="new"><img src="./assets/image/iconosRedes/yt.png"></a>
    <a href="https://www.instagram.com/cscwellnesscenter/?hl=es-la" target="new"><img src="./assets/image/iconosRedes/is.png"></a>
    <a href="https://www.pinterest.com.mx/cscwellnesscenter/" target="new"><img src="./assets/image/iconosRedes/pn.png"></a>
</div>
<div class="social-item col-md-6" style="background-color: #E0A81C; padding: 3px 0 3px 0; padding-left: 50px; z-index: 3030;;">
  <a href="tel:55431607" style="text-decoration: none;"><i class="menu-item-icon fa fa-phone-square"></i><span> 5543-1607 / 5543-1385</span></a>
  <span style="width:20px;"></span>
  <a href="mailto:informescsc@cscwellnesscenter.com.mx"><i class="menu-item-icon fa fa-envelope"></i><span> informescsc@cscwellnesscenter.com.mx</span></a>
</div>
</div>
</section>
<!--Menu-->
<nav id="nav-menu" class="navbar navbar-expand-lg fixed-top navbar-light fondo-img">

    <a class="navbar-brand">
        <a  href="index.html"> <img src="/assets/image/iconosRedes/de.png" width="160px" height="" alt=""></a>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" href="index.html">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item arriba">
        <a class="nav-link text-white" href="index.html#conocenos">Conócenos</a>
      </li> -->
      <!-- <li class="nav-item arriba">
        <a class="nav-link text-white"[routerLink]="['galeria']">Galería</a>
      </li> -->
      <!-- <li class="nav-item arriba">
            <a class="nav-link text-white"  [routerLink]="['servicios']">Servicios</a>
      </li> -->
      <div class="dropdown">
        <button class="dropbtn">Wellness Center</button>
        <div class="dropdown-content">
          <a  [routerLink]="['belleza']">Centro de Belleza</a>
          <a  [routerLink]="['spa']">Spa</a>
          <a  [routerLink]="['bienestar']">Centro de Bienestar</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><a [routerLink]="['servicios']">Servicios</a></button>
        <!-- <div class="dropdown-content">
          <a  [routerLink]="['belleza']">Masajes</a>
          <button  (click)="verServicio(2)">Faciales</button>
          <a  [routerLink]="['bienestar']">Medicina Estética</a>
          <a  [routerLink]="['bienestar']">Tratamientos corporales quirofisica</a>
          <a  [routerLink]="['bienestar']">Servicios Plus</a>
          <a  [routerLink]="['bienestar']">Aparatologia de Vanguardia</a>
          <a  [routerLink]="['bienestar']">Rituales especiales</a>
        </div> -->
      </div>
      <li class="nav-item arriba">
        <a class="nav-link text-white"  [routerLink]="['#']">Elite healt</a>
      </li>
      <li class="nav-item arriba">
            <a class="nav-link text-white" [routerLink]="['contacto']">Contacto</a>
      </li>
      <li class="nav-item arriba">
        <a class="nav-link text-white" [routerLink]="['contacto']">Blog</a>
      </li>
      <li class="nav-item arriba">
        <a class="nav-link text-white" [routerLink]="['contacto']">Tips</a>
      </li>
      <li class="nav-item arriba">
        <a class="nav-link text-white" [routerLink]="['contacto']">Promociones</a>
      </li>
    </ul>
  </div>

</nav>
  <!--fin Menu-->

