
<!--Menu-->
<nav id="nav-menu" class="navbar navbar-expand-lg fixed-top navbar-light ">
    <a class="navbar-brand">
        <a  href="index.html"> <img src="/assets/image/iconosRedes/de.png" width="100px" height="" alt=""></a>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" href="index.html">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item arriba">
        <a class="nav-link text-white" href="index.html#conocenos">Conócenos</a>
      </li>
      <li class="nav-item dropdown arriba">
        <a class="nav-link text-white dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Wellness Center
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['belleza']">Centro de Belleza</a>
          <a class="dropdown-item" [routerLink]="['spa']">Spa</a>
          <a class="dropdown-item" [routerLink]="['bienestar']">Centro de Bienestar</a>
        </div>
      </li>
      <li class="nav-item arriba">
        <a class="nav-link text-white"[routerLink]="['galeria']">Galería</a>
      </li>
      <li class="nav-item arriba">
            <a class="nav-link text-white"  [routerLink]="['servicios']">Servicios</a>
      </li>
      <li class="nav-item arriba">
        <a class="nav-link text-white"  [routerLink]="['bienestar']">Elite healt</a>
    </li>
      <li class="nav-item arriba">
            <a class="nav-link text-white" [routerLink]="['contacto']">Contacto</a>
       </li>
    </ul>
  </div>
  </nav>
  <!--fin Menu-->

