

<!--fin Menu-->


 <!--formulario y mapa-->
<section id="contacto" class="animated fadeIn" style="  background: url(./assets/image/inicio/politicas/bannercontacto.webp); background-position: center;
background-repeat: no-repeat;
background-size:cover;
max-width: 100%;">
    <div class="container" >
        <div class="row">
            <div class="col-6">
                    <h1 class="titulo-contacto">Contacto</h1>
                <form>
                    <div class="form-group">
                        <input class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Correo Electronico">
                    </div>
                    <div class="form-group">
                            <input class="form-control" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="" id="" cols="20" rows="3" placeholder="Escribe un mensaje aqui"></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-block">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-6 info-contacto">
                    <article>
                        <h1 class="titulo-contacto">CSC WELLNESS CENTER</h1>
                        <h3>Georgia #145, Col. Nápoles, CDMX, C.P 03810 </h3>
                         <p>Teléfonos: 5543-1607 / 5543-1385 </p>
                         <p>Whatsapp: 55-7754-9320</p>
                         <p>Correo: informescsc@cscwellnesscenter.com.mx</p>
                    </article>
            </div>   
        </div>
    </div>
</section>
<!--fin formulario y mapa-->
