




<section id="servicios" class="animated fadeIn">
  <div class="container">
      <div class="text-center content-services">
          <ul class="portfolio-filter">
              <li class="active">
                <a href="#" >Todos</a>
              </li>
              <li class="">
                 <!-- <a [routerLink]="['/servicio,i']" routerLinkActive="router-link-active">Masajes</a> -->
              </li>
              <li class="">
                <a href="#">Faciales</a>
              </li>
              <li class="">
                <a href="#">Rituales Especiales</a>
              </li>
              <li class="">
                <a href="#">Servicios Plus</a>
              </li>
              <li class="">
                <a href="#">Aparatologia de Vanguardia</a>
              </li>
              <li class="">
                <a href="#">Tratamientos corporales</a>
              </li>
              <li class="">
                <a href="#">Medicina Estética</a>
              </li>
              <li class="">
                <a href="#">Servicios Quirofísica</a>
              </li>
          </ul>
        </div>
      <div class="card-columns">
            <div (click)="verServicio(servicio)" class="portfolio-item cat1 cat3" *ngFor="let servicio of servicios; let i = index">
              <div class="thumb card animated fadeIn fast puntero">
                  <img [src]="servicio.img" class="card-img-top" [alt]="servicio.title">
                  <div class="portfolio-hover">
                      <div class="action-btn">
                          <span class="popup-link" title="lightbox view"> <i class="fas fa-plus"></i></span>
                      </div>
                      <div class="portfolio-description">
                          <!-- <h4><a [routerLink]="['/servicio',i]" class="popup-link" title="lightbox view">{{servicio.title}}</a></h4> -->
                          <h4 class="popup-link">{{servicio.title}}</h4>
                          <p><a href="#">{{servicio.category_id}}</a></p>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
 <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</section>
