
<!-- slider revolution -->
<section id="carrusel-principal">
    <div class="tp-banner-container" >
            <div class="tp-banner" >
                <ul  >
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  >
                        <!-- MAIN IMAGE -->

                        <img  src="./assets/image/slider/csc-1.jpg" class="revo-img"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->

                        <div class="tp-caption skewfromrightshort  large_text"
                        data-x="center"
                        data-y="124"
                        data-speed="2000"
                        data-start="1200"
                        data-easing="Power4.easeOut">Vive una experiencia CSC
                    </div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" >
                        <!-- MAIN IMAGE -->
                        <img src="./assets/image/slider/csc-2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->

                        <div class="tp-caption skewfromrightshort fadeout large_text"
                        data-x="center"
                        data-y="74"
                        data-speed="2000"
                        data-start="1200"
                        data-easing="Power4.easeOut"> Consigue un equilibrio integral
                        </div>

                    <div class="tp-caption fadeout  largeblackbg"
                    data-x="center"
                    data-y="center"
                    data-hoffset="-30"
                    data-voffset="20"
                    data-speed="800"
                    data-start="3000"
                    data-easing="Power4.easeOut"
                    data-endspeed="200"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="off"
                    style="z-index: 6"> entre mente y cuerpo
                    </div>

                    </li>

                    <li data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" >
                        <!-- MAIN IMAGE -->
                        <img src="./assets/image/slider/csc-3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption  skewfromrightshort fadeout large_text"
                            data-x="center"
                            data-y="74"
                            data-speed="2000"
                            data-start="1200"
                            data-easing="Power4.easeOut">Disfruta de todos los beneficios que CSC
                        </div>

                        <div class="tp-caption  largeblackbg"
                        data-x="center"
                        data-y="center"
                        data-hoffset="-30"
                        data-voffset="20"
                        data-speed="800"
                        data-start="3000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6"> te ofrece de la mano de terapeutas especializadas
                        </div>


                        <div class="tp-caption medium_bg_asbestos lft"
                        data-x="center"
                        data-y="214"
                        data-hoffset="-30"
                        data-voffset="20"
                        data-speed="800"
                        data-start="4000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">con servicios exclusivos.
                    </div>

                    </li>
                    <li data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" >
                        <!-- MAIN IMAGE -->
                        <img src="./assets/image/slider/csc-4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption skewfromrightshort fadeout large_text"
                            data-x="center"
                            data-y="74"
                            data-speed="1000"
                            data-start="4000"
                            data-easing="Power4.easeOut">CSC Wellness Center…
                        </div>
                        <div class="tp-caption  largeblackbg"
                        data-x="center"
                        data-y="center"
                        data-hoffset="-30"
                        data-voffset="20"
                        data-speed="1200"
                        data-start="5000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">Donde necesitas estar
                        </div>
                    </li>

                    </ul>

            </div>
        </div>


</section>

<!-- end slider revolution -->

