



 <!--section spa-->
 <a name="spa"></a>
 <section id="section-two-spa">
    <div class="container">
            <div class="content-title">
                <h2 class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">SPA</h2>
                <p class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">Te consentimos, tú decides cómo</p>
            </div>
        <div class="row">
              <div class="col-12 colum-content d-none d-lg-block">
                    <div class="content-principal">
                        <div  class="variety-selector cir_spa wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
                            <a class="url active"  (click)="alerta='uno'" title=""><img src="./assets/image/inicio/spa/jpg/faciales.png" alt=""><i class="icon-icon1"></i></a>
                            <a class="url"          (click)="alerta='dos'" title=""><img src="./assets/image/inicio/spa/jpg/masajes.png"   alt=""><i class="icon-icon2"></i></a>
                            <a class="url"          (click)="alerta='tres'" title=""><img src="./assets/image/inicio/spa/jpg/rituales.png"  alt=""><i class="icon-icon3"></i></a>
                            <a class="url"          (click)="alerta='cuatro'" title=""><img src="./assets/image/inicio/spa/jpg/corporales1.png" alt=""><i class="icon-icon4"></i></a>
                        </div>
                        <div class="row">
                            <div class="circulos-secciones col-6">
                              <div [ngSwitch]="alerta">
                                  <article  *ngSwitchCase="'uno'" id="cir3" class="">
                                      <h1 class="wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">uno</h1>
                                      <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Con el paso del tiempo, la piel puede llenarse de impurezas, por eso es necesario recuperar la vitalidad de tu rostro, para lucir una apariencia renovada, fresca e hidratada.<br>
                                      <a href="servicios.html" class="link-bienestar wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Conoce más</a>
                                      </p>
                                  </article>
                                  <article  *ngSwitchCase="'dos'" id="cir4" class="">
                                      <h1 class="wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">dos</h1>
                                      <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Hemos creado un espacio dedicado al relajamiento y renovación de tu mente y cuerpo. Ayuda de manera natural a mantener la salud de tu cuerpo consiéntelo, escúchalo.. <br>
                                      <a href="servicios.html" class="link-bienestar wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Conoce más</a>
                                      </p>
                                  </article>
                                  <article  *ngSwitchCase="'tres'" id="cir5" class="">
                                      <h1 class="wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">tres</h1>
                                      <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Olvídate de la rutina, Conecta tus sentidos, renuévate, equilibra tu energía y vive una experiencia CSC, logrando una armonía entre mente, cuerpo y espíritu. <br>
                                      <a href="servicios.html" class="link-bienestar wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Conoce más</a>
                                      </p>
                                  </article>
                                  <article  *ngSwitchCase="'cuatro'" id="cir6" class="">
                                      <h1 class="wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">cuatro</h1>
                                      <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Mejora la calidad de tu vida y luce un aspecto saludable mediante nuestros planes nutricionales 100% personalizados. Nosotros te ayudamos a lograr tus objetivos. <br>
                                      <a href="servicios.html" class="link-bienestar wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Conoce más</a>
                                      </p>
                                  </article>
                                  <article *ngSwitchDefault>

                                  </article>
                              </div>

                            </div>

                            <div class="col-6">
                                <video controls  src="/assets/video/SPA_fx_comprimido.mp4" type="video/mp4" class="video-spa wow animated fadeIn" data-wow-duration = "2s" data-wow-delay = "1s"></video>
                            </div>

                        </div>

                    </div>
              </div>
        </div>
    </div>
    <a class="url active"  (click)="alerta='uno'" title=""><img src="./assets/image/inicio/spa/jpg/faciales.png" alt=""><i class="icon-icon1"></i></a>
    <a class="url active"  (click)="alerta='uno'" title=""><img src="./assets/image/iconos-servicios/icon-02.png)" alt=""><i class="icon-icon1"></i></a>



</section>
<!--section spa-->

