



 <!--section spa-->
 <a name="spa"></a>
 <section id="section-two-spa" class="animated fadeIn">
    <div class="container">
            <div class="content-title">
                <h2 class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">SPA</h2>
                <p class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">Te consentimos, tú decides cómo</p>
            </div>
        <div class="row">
              <div class="col-12 colum-content d-none d-lg-block">
                    <div class="content-principal">
                        <div  class="variety-selector cir_spa wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
                            <a class="url active" href="#cir3" ><img src="./assets/image/inicio/spa/jpg/faciales.png" alt=""><i class="icon-icon1"></i></a>
                            <a class="url"  href="#cir4"><img src="./assets/image/inicio/spa/jpg/masajes.png"   alt=""><i class="icon-icon2"></i></a>
                            <a class="url"  href="#cir5"><img src="./assets/image/inicio/spa/jpg/rituales.png"  alt=""><i class="icon-icon3"></i></a>
                            <a class="url"  href="#cir6"><img src="./assets/image/inicio/spa/jpg/corporales1.png" alt=""><i class="icon-icon4"></i></a>
                        </div>
                        <div class="row">
                            <div class="circulos-secciones col-6">
                                    <article id="cir3" style="display: none;">
                                            <h1 class="wow  fadeInDown animated" data-wow-duration="1s" data-wow-delay="1s">Faciales</h1>
                                            <p class="wow  fadeIn animated" data-wow-duration="1s" data-wow-delay="1s">Con el paso del tiempo, la piel puede llenarse de impurezas, por eso es necesario recuperar la vitalidad de tu rostro, para lucir una apariencia renovada, fresca e hidratada.<br>
                                                <a href="faciales.html" class="link-spa wow  fadeInDown" data-wow-duration="1s" data-wow-delay="1s">Conoce más</a>
                                            </p>
                                    </article>
                                    <article id="cir4" style="display: none;">
                                            <h1 class="wow  fadeInDown animated" data-wow-duration="1s" data-wow-delay="1s">Masajes</h1> 
                                            <p class="wow  fadeIn animated" data-wow-duration="1s" data-wow-delay="1s">Hemos creado un espacio dedicado al relajamiento y renovación de tu mente y cuerpo. Ayuda de manera natural a mantener la salud de tu cuerpo consiéntelo, escúchalo.<br>
                                           <a href="servicios.html" class="link-spa">Conoce más</a>
                                           </p>
                                    </article>
                                    <article id="cir5" style="display: none;">
                                            <h1 class="wow  fadeInDown animated" data-wow-duration="1s" data-wow-delay="1s">Rituales Especiales</h1> 
                                            <p class="wow  fadeIn animated" data-wow-duration="1s" data-wow-delay="1s">Olvídate de la rutina, Conecta tus sentidos, renuévate, equilibra tu energía y vive una experiencia CSC, logrando una armonía entre mente, cuerpo y espíritu.<br>
                                           <a href="rituales_especiales.html" class="link-spa">Conoce más</a>
                                           </p>
                                    </article>
                                    <article id="cir6" style="">
                                            <h1 class="wow  fadeInDown animated" data-wow-duration="1s" data-wow-delay="1s">Tratamientos Corporales</h1>
                                            <p class="wow  fadeIn animated" data-wow-duration="1s" data-wow-delay="1s">Dale a tu cuerpo el apapacho que necesita. Desintoxica tu cuerpo, obtén una silueta más firme, luce una piel tersa y moviliza la grasa para que pueda ser eliminada de manera natural.<br>
                                            <a href="tratamientos_corporales.html" class="link-spa">Conoce más</a>
                                            </p>
                                    </article>
                            </div>

                            <div class="col-6">
                                <video controls  src="../../../assets/video/SPA_fx_comprimido.mp4" type="video/mp4" class="video-spa wow animated fadeIn" data-wow-duration = "2s" data-wow-delay = "1s"></video>
                            </div>

                        </div>
                      
                    </div>
              </div>
        </div>
        <div id="spa-carousel" class="row d-lg-none">
                    <div  class="col-md-12">
                                <owl-carousel-o [options]="customOptions">
                                    <ng-template carouselSlide owlcarousel>
                                            <div class="">
                                                    <div class="slider2 cuadrobelleza1 text-center">
                                                     <div>
                                                       <img src="./assets/image/inicio/spa/jpg/faciales.png" alt="" class="text-center" style="width: 200px">
                                                         <div class="">
                                                             <h1 class="wow animated fadeInDown titulo-spa-slider" data-wow-duration = "1s" data-wow-delay = "1s">Faciales</h1>
                                                       <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Con el paso del tiempo, la piel puede llenarse de impurezas, por eso es necesario recuperar la vitalidad de tu rostro, para lucir una apariencia renovada, fresca e hidratada.<br><br>
                                                     <a href="servicios.html" class="link-bienestar">Conoce más...</a>
                                                         </div>
                                                     </div>
                                                 </div>
                                               </div>
                                    </ng-template>  
                                    <ng-template carouselSlide>
                                            <div class="">
                                                    <div class="slider2 cuadrobelleza1 text-center">
                                                       <div>
                                                           <img src="./assets/image/inicio/spa/jpg/masajes.png" alt="" class="text-center" style="width: 200px">
                                                           <div class="">
                                                               <h1 class="titulo-spa-slider">Masajes</h1>
                                                         <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Hemos creado un espacio dedicado al relajamiento y renovación de tu mente y cuerpo. Ayuda de manera natural a mantener la salud de tu cuerpo consiéntelo, escúchalo.<br><br>
                                                       <a href="quirofisica.html" class="link-bienestar">Conoce más...</a>
                                                           </div>
                                                       </div>
                                                   </div>
                                                 </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                            <div class="">
                                                    <div class="slider2 cuadrobelleza1 text-center">
                                                       <div>
                                                           <img src="./assets/image/inicio/spa/jpg/rituales.png" alt="" class="text-center" style="width: 200px">
                                                           <div class="">
                                                               <h1 class="titulo-spa-slider" >Rituales Especiales</h1>
                                                         <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Olvídate de la rutina, Conecta tus sentidos, renuévate, equilibra tu energía y vive una experiencia CSC, logrando una armonía entre mente, cuerpo y espíritu.<br><br>
                                                       <a href="quirofisica.html" class="link-bienestar">Conoce más...</a>
                                                           </div>
                                                       </div>
                                                   </div>
                                                 </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                            <div class="">
                                                    <div class="slider2 cuadrobelleza1 text-center">
                                                       <div>
                                                           <img src="./assets/image/inicio/spa/jpg/corporales1.png" alt="" class="text-center" style="width: 200px">
                                                           <div class="">
                                                               <h1 class="titulo-spa-slider" >Tratamientos Corporales</h1>
                                                         <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">ADale a tu cuerpo el apapacho que necesita. Desintoxica tu cuerpo, obtén una silueta más firme, luce una piel tersa y moviliza la grasa para que pueda ser eliminada de manera natural.<br><br>
                                                       <a href="quirofisica.html" class="link-bienestar">Conoce más...</a>
                                                           </div>
                                                       </div>
                                                   </div>
                                                 </div>
                                    </ng-template>        
                                </owl-carousel-o>
                    </div>
                    <div class="col-md-12 text-center">
                        <video controls  src="./assets/video/Bienestar_fx_comprimido.mp4" type="video/mp4" class="video-bienestar wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s"></video>
                    </div>
                </div>
    </div>
   



</section>
<!--section spa-->

