



<!--section centro de belleza-->
<section id="section-one-belleza" class="animated fadeIn">
        <div class="container">
                <div class="content-title">
                    <h2 class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">CENTRO DE BELLEZA</h2>
                        <p class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">Pequeños cambios, grandes resultados</p>
                </div>
            <div class="row ">
                  <div class="col-12 colum-content d-none d-lg-block">
                        <div class="content-principal">
                            <div class="variety-selector">
                                <img class="wow animated fadeIn" data-wow-duration = "2s" data-wow-delay = "1s" src="./assets/image/inicio/belleza/jpg/medicinaestetica.png" alt="">
                            </div>
                            <div class="row">
                                <div class="col-6 ">
                                    <article class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">
                                        <h1>MEDICINA ESTÉTICA</h1>
                                        <p>Luce la figura que siempre deseaste a través de la mano de nuestros especialistas, nos enfocaremos a mejorar aspectos que brindarán una armonía facial, de belleza y naturalidad de tu cuerpo.<br>
                                       <a href="medicina_estetica.html" class="link-spa">Conoce más</a>
                                       </p>
                                    </article>
                                </div>
                                <div class="col-6">
                                        <video controls  src="./assets/video/Belleza_fx_comprimido.mp4" type="video/mp4" class=" wow animated fadeIn video-belleza-min"  data-wow-duration = "2s" data-wow-delay = "1s" ></video>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>
            <div id="seccion-one-min" class="row d-lg-none" >
                <div  class="col-md-12">
                  <div class="cuadrobelleza1 text-center" >
                      <div class="slider">
                          <img src="./assets/image/inicio/belleza/jpg/medicinaestetica.png" alt="" class="text-center">
                                  <h1 class="wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Medicina Estética</h1>
                                  <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Luce la figura que siempre deseaste a través  de la mano de nuestros especialistas, nos enfocaremos a mejorar aspectos que brindarán una armonía facial, de belleza y naturalidad de tu cuerpo. <br><br></p>
                                  <a href="servicios.html" class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s" style="margin-top: -20px;">Conoce más...</a>
                      </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                    <video controls  src="./assets/video/Belleza_fx_comprimido.mp4" type="video/mp4" class=" wow animated fadeIn video-belleza-min"  data-wow-duration = "2s" data-wow-delay = "1s" ></video>
                </div>
            </div>
        </div>
     </section>
    <!--section centro de belleza-->


