footer {
  background-color: #7B5C0F;
  background-image: url("/src/assets/image/header-bg.png"); }

footer {
  padding: 10px 0 0 0; }

.centered {
  text-align: center; }

.foter {
  font-family: "Poppins", sans-serif; }
  .foter ul {
    list-style: none;
    display: inline-block;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    margin-right: 30px; }
    .foter ul li a {
      list-style: none;
      margin-top: 10px;
      font-size: 14px;
      color: white;
      padding: 5px; }
  .foter #foter-redes {
    background-color: #7B5C0F;
    background-image: url("/src/assets/image/header-bg.png"); }
    .foter #foter-redes .content-icons {
      text-align: center;
      font-family: "Poppins", sans-serif;
      padding: 0px 0px; }
    .foter #foter-redes a {
      list-style: none;
      margin: 5px;
      margin-top: 0px;
      padding: 20px 0px; }
    .foter #foter-redes li {
      margin-left: 20px;
      margin-top: 5px;
      color: white;
      font-size: 12px;
      list-style: none; }

/*--------------------------
    media querys
---------------------------*/
@media (max-width: 1200px) {
  .foter {
    text-align: left; } }

@media (max-width: 992px) {
  .foter {
    text-align: left; }
  ul {
    list-style: none;
    display: block;
    text-align: left; } }

@media (max-width: 768px) {
  .foter {
    font-family: "Poppins", sans-serif;
    background-color: #7B5C0F; }
    .foter ul {
      list-style: none;
      display: block;
      text-align: center;
      margin-right: 0px; } }

@media (max-width: 576px) {
  .foter ul {
    list-style: none;
    display: block;
    text-align: center;
    margin-right: 0px; } }
