

 <!--section bienestar-->
 <a name="bienestar"></a>
 <section id="section-two-bienestar">
        <div class="container">
                <div class="content-title">
                    <h2 class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">CENTRO DE BIENESTAR</h2>
                        <p class="wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s">Sentirte bien, es verte bien</p>
                </div>
            <div class="row d-none d-lg-block">
                  <div class="col-12 colum-content">
                        <div class="content-principal">
                            <div class="variety-selector cir_b wow animated fadeIn" data-wow-duration = "1s" data-wow-delay = "1s">
                                <a class=" url active "  href="#cirb3" title=""><img src="./assets/image/inicio/bienestar/jpg/nutricion.png" alt=""><i class="icon-icon1"></i></a>
                                <a class="url " href="#cirb4" title=""><img src="./assets/image/inicio/bienestar/jpg/quirofisica.png" alt=""><i class="icon-icon2"></i></a>
                                <a class="url " href="#cirb5" title=""><img src="./assets/image/inicio/bienestar/jpg/yoga.png" alt=""><i class="icon-icon3"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-6 circulos-secciones_bienestar">
                                    <article id="cirb3" class="">
                                        <h1 class="wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Nutrición</h1>
                                        <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Mejora la calidad de tu vida y luce un aspecto saludable mediante nuestros planes nutricionales 100% personalizados. Nosotros te ayudamos a lograr tus objetivos. <br>
                                        <a href="servicios.html" class="link-bienestar wow animated fadeInDown" data-wow-duration = "1s" data-wow-delay = "1s">Conoce más</a>
                                        </p>
                                    </article>
                                    <article id="cirb4">
                                        <h1>Terapia Quirofísica</h1>
                                        <p>A través de un modelo integral, disfruta de una atención complementaria que te ayudará a mitigar el dolor causado por diversos factores; con la finalidad de restablecer, recuperar o mantener tu salud.<br>
                                        <a href="servicios.html" class="link-bienestar">Conoce más</a>
                                        </p>
                                    </article>
                                    <article id="cirb5">
                                        <h1>Yoga</h1>
                                        <p>Logra un equilibrio entre mente y cuerpo a través de nuestras sesiones de yoga y disfruta de los beneficios que aporta esta disciplina. Aumenta tu flexibilidad, y fuerza a través de una experiencia integral.<br>
                                        <a href="servicios.html" class="link-bienestar">Conoce más</a>
                                        </p>
                                    </article>
                                </div>
                                <div class="col-6">
                                        <video controls  src="./assets/video/Bienestar_fx_comprimido.mp4" type="video/mp4" class="video-bienestar wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s"></video>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>
            <div id="seccion-one-min" class="row d-lg-none" >
                <div  class="col-md-12">
                    <div  id="sl" class="owl-carousel owl-theme d-lg-none owl-theme 18" >
                        <div class="item">
                             <div class="slider2 cuadrobelleza1 text-center">
                              <div>
                                <img src=./assets/image/inicio/bienestar/jpg/nutricion.png" alt="" class="text-center" style="width: 200px">
                                  <div class="">
                                      <h1 class="wow animated fadeInDown titulo-spa-slider" data-wow-duration = "1s" data-wow-delay = "1s">Nutrición</h1>
                                <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Mejora la calidad de vida y luce un aspecto saludable mediante nuestro planes nutricionales  100% personalizados. Logra tus objetivos, nosotros te ayudamos.<br><br>
                              <a href="servicios.html" class="link-bienestar">Conoce más...</a>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="item">
                           <div class="slider2 cuadrobelleza1 text-center">
                              <div>
                                  <img src=./assets/image/inicio/bienestar/jpg/quirofisica.png" alt="" class="text-center" style="width: 200px">
                                  <div class="">
                                      <h1 class="titulo-spa-slider" >Terapia Quirofísica</h1>
                                <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">A través de un modelo integral, disfruta de una atención complementaria que te ayudará a mitigar el dolor causado por diversos factores con la finalidad de reestablecer, recuperar o mantener tu salud.<br><br>
                              <a href="quirofisica.html" class="link-bienestar">Conoce más...</a>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="item">
                           <div class="slider2 cuadrobelleza1 text-center">
                              <div>
                                  <img src=./assets/image/inicio/bienestar/jpg/yoga.png" alt="" class="text-center" style="width: 200px">
                                  <div class="">
                                      <h1 class="titulo-spa-slider">Yoga</h1>
                                <p class="wow animated fadeInUp"  data-wow-duration = "1s" data-wow-delay = "1s">Logra un equilibro entre mente y cuerpo a través de nuestras sesiones de yoga y disfruta de los beneficios que aporta esta disciplina. Aumenta tu flexibilidad, y fuerza a través de una experiencia integral.
                                <a href="servicios.html" class="link-bienestar">Conoce más...</a>
                                  </div>
                              </div>
                          </div>
                        </div>
                </div>
                </div>
                <div class="col-md-12 text-center">
                    <video controls  src="./assets/video/Bienestar_fx_comprimido.mp4" type="video/mp4" class="video-bienestar wow animated fadeIn"  data-wow-duration = "2s" data-wow-delay = "1s"></video>
                </div>
            </div>
        </div>
     </section>
    <!--section bienestar-->

