<section id="elite">

    <div class="elparallax"> 
        <div class="tcenter pt85x fontx1">
            <h1>Be Elite, Be Wellness Center</h1>  
            <h2>Descubre nuestros diferentes tratamientos y sus beneficios</h2> 

            
    </div>
        <!-- <img src="../../../assets/image/parallax/banner_elite_health.jpg" width="100%"> -->
    </div>
    
    <div class="head">
    <div class="container">
      <div class="row pt25x">
        <div class="col-md-1"></div>
        <div class="col-md-10">   
            <div class="tcenter mt25x">
                <p>Con el fin de ofrecer una experiencia única, diseñamos Elite Health un programa que te permitirá mantenerte sano, verte y sentirte bien. 
                Incorporamos los avances más exclusivos y novedosos de la medicina estética para regenerar tu organismo y brindarte una apariencia llena de vitalidad. 
                </p>
            </div> 
            <div class="tcenter mt85x fontx1">
                    <!-- <h1>Be Elite, Be Wellness Center</h1>  
                    <h2>Descubre nuestros diferentes tratamientos y sus beneficios</h2>  -->
                    <hr>
                    
            </div> 
            
        </div>
        <div class="col-md-1"></div>
        </div>
    </div>
    
    
    <div class="elvideo"> 
    <div class="container">
        <div class="col-md-12 tservicio"><span>Implante Liofilizado de Placenta Células Madre </span></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <p>Este novedoso procedimiento crea un ambiente favorecedor en el organismo el cual ayuda a retardar el envejecimiento natural de las células, lo cual frena los efectos propios de la edad. Teniendo como resultado beneficios notables al mantener en un estado óptimo la apariencia y calidad de vida de los pacientes.</p>
                </div>
                <div class="col-md-5">
                    <video src="../../../assets/video/celulas 3 sd.mp4" controls style="width:100%; max-width: 800px;"></video>
                </div>
                <div class="col-md-1"></div>
            </div>
     </div>
    </div> 
    </div>
    
    <div class="info">
    <div class="container">
    <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h2>¿Cómo funciona? </h2><br>
                    <div> 
                        <p>Nuestro Programa Elite Health permite que a través del implante de células madre los órganos dañados por enfermedades crónico degenerativas, se regeneren. En CSC Wellness Center contamos con especialistas comprometidos con el bienestar de nuestros pacientes que, gracias a un diagnóstico preciso y personalizado, te ayudarán a verte y sentirte bien.  
                        </p>
                        <p>El procedimiento es mínimamente invasivo, con una duración no mayor a 30 minutos en el cual se implanta la placenta liofilizada en el área suprapúbica, mediante una pequeña incisión bajo anestesia local</p>
                    </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
    </div>
    </div>
    
    <!--imagenes de la galeria-->
    
    <div class="elslider">
    <div class="container">
    <div class="row">
        <div class="col-md-1"></div>
    
            <div class="col-10">
                    <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="img-hover-zoom">
                        <img src="../../../assets/image/galeriaelite/1.jpg">
                            <div class="overlay"></div>
                            <div class="services_content">    
                            <h2>Autohemoterapia</h2> 
                            </div>
                        </div>
                        </ng-template>  
                    <ng-template carouselSlide>
                        <div class="img-hover-zoom">
                        <img src="../../../assets/image/galeriaelite/2.jpg">
                        <div class="overlay"></div>
                            <div class="services_content">    
                            <h2>Anestesia local</h2> 
                            </div>
                            </div>
                            </ng-template>  
                    <ng-template carouselSlide>
                        <div class="img-hover-zoom">
                        <img src="../../../assets/image/galeriaelite/3.jpg">
                        <div class="overlay"></div>
                            <div class="services_content">    
                            <h2>Escaneo biomagnético</h2> 
                            </div>
                            </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img-hover-zoom">
                        <img src="../../../assets/image/galeriaelite/4.jpg">
                        <div class="overlay"></div>
                            <div class="services_content">    
                            <h2>Implante de celulas</h2> 
                            </div>
                            </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="img-hover-zoom">
                        <img src="../../../assets/image/galeriaelite/5.jpg">
                        <div style="width: 100%; text-align: center;">
                            <div class="overlay" style=" width: 100%; height: 100%; position: absolute;  background: rgba(209, 174, 133, 0.4);"></div>    
                            <h2>Sueroterapia</h2> 
                            </div>
                            </div>
                    </ng-template>  
                  </owl-carousel-o>         
        </div>
        <div class="col-md-1"></div>
    
      </div>
      </div>
      </div>
    </section>